/* Default stylesheet for Cascade. */

/* Something initially invisible that may be revealed (but is still displayed as grey text). */
.c-omitted {
    display: none;
    color: gray !IMPORTANT;
}

.c-exception-controls {
    float: right;
}

.c-exception-controls label {
    width: auto;
    line-height: 20px;
}

.c-exception-message {
    font-weight: bold;
}

div.c-exception {
    margin-top: 20px;
}

div.c-exception dl {
    margin-top: 10px;
}

ul.c-stack-trace li {
    color: black;
}